includePatterns:
    "rule-allowed-file-location":
        - ./**
    "rule-filename-snake-case":
        - ./**
    "rule-parent-has-same-name":
        - ./**/*.tscn
        - ./**/*.gd
    "rule-scene-nodes-pascal-case":
        - ./**/*.tscn
    "rule-root-node-is-file-name-pascal":
        -  ./**/*.tscn
    "rule-root-node-script-in-same-folder":
        -  ./**/*.tscn
    "rule-node-depth-fits-max-depth":
        -  ./**/*.tscn

ignorePatterns:
    overall:
        - ./godot-arch*
        - ./addons/**
        - ./export/**
        - ./.export_templates/**
        - ./**/*.uid
        - ./**/*.tmp
        # Ignore hidden files
        - ./**/.{*}

allowedFileLocations:
    "./**/*.tscn":
        - ./globals/**
        - ./scenes/**
    "./**/*.gd":
        - ./globals/**
        - ./scenes/**
        - ./resources/**
    "./**/*.tres":
        - ./resources/**/all/*.tres
    "./**/*.gdshader":
        - ./shaders/**
    "./**/*.{png,jpg,jpeg,gif,webp,ico}":
        - ./assets/images/**
    "./**/*.{mp3,wave,ogg,flac,aac,m4a}":
        - ./assets/audio/** 
    "./**/*.{ttf}":
        - ./assets/fonts/**
    "./**/*.translation":
        - ./localization/**
